In [1]:
import os
import pickle

cache = {}
for file in os.listdir('cache'):
    with open('cache/' + file, 'rb') as f:
        ff = pickle.load(f)
        if len(ff) == 2:
            print(file, len(ff['queries_answers']))
        else:
            print(file, len(ff))

triplets_test_att.pkl 6463
values_ids.pkl 8499
test_PAt_queries_answers.pkl 6221
valid_ea2u_queries_answers.pkl 5124
idx2value.pkl 8499
triplets_valid_att.pkl 6511
train_er2u_queries_answers.pkl 5000
train_ta2u_queries_answers.pkl 5000
test_gsPAxi_queries_answers.pkl 9835
valid_gPAxu_queries_answers.pkl 9943
valid_PRe_queries_answers.pkl 17695
triplets_train_att.pkl 51578
test_tr2i_queries_answers.pkl 9843
valid_PRe2_queries_answers.pkl 5791
test_PRta_queries_answers.pkl 5000
valid_PRt_queries_answers.pkl 9548
test_tr2u_queries_answers.pkl 7312
relation2idx.pkl 62
values.pkl 8499
test_gsPAxu_queries_answers.pkl 9950
value2idx.pkl 8499
test_ta2u_queries_answers.pkl 5420
attributes.pkl 26
triplets_ids_test_att.pkl 6463
train_PRe_queries_answers.pkl 113594
triplets_test_rel.pkl 18494
test_PRe_queries_answers.pkl 17719
train_PRt_queries_answers.pkl 37317
train_gPAxi_queries_answers.pkl 5000
test_PAx_queries_answers.pkl 6166
triplets_ids_valid_rel.pkl 18445
valid_er2u_queries_answers.pkl 5466
test_gPAxi_queries_answers.pkl 9838
test_PAe_queries_answers.pkl 6262
attributes_ids.pkl 26
triplets_ids_train_rel.pkl 148073
test_ea2i_queries_answers.pkl 5019
train_PRe2_queries_answers.pkl 5000
valid_ta2u_queries_answers.pkl 5249
idx2entity.pkl 18177
triplets_all_att.pkl 64552
test_PRt_queries_answers.pkl 9706
valid_tr2u_queries_answers.pkl 6551
idx2timestamp.pkl 2026
test_gPAxu_queries_answers.pkl 9946
train_gsPAxu_queries_answers.pkl 5000
triplets_ids_valid_att.pkl 6511
test_ea2u_queries_answers.pkl 5250
valid_PAe_queries_answers.pkl 6299
valid_sPAxi_queries_answers.pkl 9835
valid_gsPAxu_queries_answers.pkl 9949
timestamps_ids.pkl 2026
valid_PAt_queries_answers.pkl 6288
triplets_all_rel.pkl 185012
train_ta2i_queries_answers.pkl 5000
triplets_ids_train_att.pkl 51578
valid_queries_answers.pkl 24
test_gPAx_queries_answers.pkl 9861
valid_sPAx_queries_answers.pkl 9864
triplets_valid_rel.pkl 18445
train_PAt_queries_answers.pkl 44094
valid_gPAx_queries_answers.pkl 9855
valid_PAx_queries_answers.pkl 6216
valid_sPAxu_queries_answers.pkl 9941
triplets_ids_all_rel.pkl 185012
valid_PRta_queries_answers.pkl 5000
train_er2i_queries_answers.pkl 5000
entity2idx.pkl 18177
idx2attribute.pkl 26
relations_ids.pkl 62
test_sPAxi_queries_answers.pkl 9849
train_tr2u_queries_answers.pkl 5000
train_sPAxu_queries_answers.pkl 5000
relations.pkl 62
valid_PRtb_queries_answers.pkl 5000
triplets_train_rel.pkl 148073
valid_ta2i_queries_answers.pkl 6425
test_er2u_queries_answers.pkl 5835
train_PRtb_queries_answers.pkl 5000
train_queries_answers.pkl 24
entities_ids.pkl 18177
triplets_ids_all_att.pkl 64552
train_PAe_queries_answers.pkl 41620
train_gPAxu_queries_answers.pkl 5000
test_PRtb_queries_answers.pkl 5000
valid_tr2i_queries_answers.pkl 9777
timestamps.pkl 2026
valid_er2i_queries_answers.pkl 5238
test_sPAx_queries_answers.pkl 9868
train_sPAxi_queries_answers.pkl 5000
test_PRe2_queries_answers.pkl 6273
valid_ea2i_queries_answers.pkl 5009
train_PRta_queries_answers.pkl 5000
valid_gPAxi_queries_answers.pkl 9823
train_tr2i_queries_answers.pkl 5000
timestamp2idx.pkl 2026
idx2relation.pkl 62
train_PAx_queries_answers.pkl 41712
train_gsPAxi_queries_answers.pkl 5000
test_sPAxu_queries_answers.pkl 9944
triplets_ids_test_rel.pkl 18494
train_ea2u_queries_answers.pkl 5000
train_ea2i_queries_answers.pkl 5000
test_queries_answers.pkl 24
metadata.pkl 10
test_er2i_queries_answers.pkl 5428
attribute2idx.pkl 26
train_sPAx_queries_answers.pkl 5000
train_gPAx_queries_answers.pkl 5000
test_ta2i_queries_answers.pkl 6432
entities.pkl 18177
valid_gsPAxi_queries_answers.pkl 9830

In [2]:
# open idx2relation.pkl
import pickle
with open('cache/idx2relation.pkl', 'rb') as f:
    idx2relation = pickle.load(f)

# open idx2attribute.pkl
with open('cache/idx2attribute.pkl', 'rb') as f:
    idx2attribute = pickle.load(f)

In [3]:
idx2attribute

{0: 'P1082',
 1: 'P1087',
 2: 'P1098',
 3: 'P1113',
 4: 'P1120',
 5: 'P1128',
 6: 'P1198',
 7: 'P1351',
 8: 'P1352',
 9: 'P1436',
 10: 'P1538',
 11: 'P1539',
 12: 'P1540',
 13: 'P1603',
 14: 'P1831',
 15: 'P1971',
 16: 'P2046',
 17: 'P2067',
 18: 'P2196',
 19: 'P2415',
 20: 'P2437',
 21: 'P2645',
 22: 'P2997',
 23: 'P3000',
 24: 'P4080',
 25: 'P439'}

In [5]:
# sort by value
idx2attribute = {k: v for k, v in sorted(idx2attribute.items(), key=lambda item: item[1])}
idx2relation = {k: v for k, v in sorted(idx2relation.items(), key=lambda item: item[1])}

In [6]:
idx2attribute

{0: 'P1082',
 1: 'P1087',
 2: 'P1098',
 3: 'P1113',
 4: 'P1120',
 5: 'P1128',
 6: 'P1198',
 7: 'P1351',
 8: 'P1352',
 9: 'P1436',
 10: 'P1538',
 11: 'P1539',
 12: 'P1540',
 13: 'P1603',
 14: 'P1831',
 15: 'P1971',
 16: 'P2046',
 17: 'P2067',
 18: 'P2196',
 19: 'P2415',
 20: 'P2437',
 21: 'P2645',
 22: 'P2997',
 23: 'P3000',
 24: 'P4080',
 25: 'P439'}

In [7]:
idx2relation

{0: 'P1001',
 1: 'P102',
 2: 'P106',
 3: 'P108',
 4: 'P119',
 5: 'P127',
 6: 'P1308',
 7: 'P131',
 8: 'P1336',
 9: 'P1344',
 10: 'P1346',
 11: 'P137',
 12: 'P1376',
 13: 'P138',
 14: 'P1411',
 15: 'P1435',
 16: 'P150',
 17: 'P156',
 18: 'P159',
 19: 'P166',
 20: 'P17',
 21: 'P176',
 22: 'P1891',
 23: 'P190',
 24: 'P1923',
 25: 'P195',
 26: 'P2388',
 27: 'P26',
 28: 'P27',
 29: 'P276',
 30: 'P286',
 31: 'P2962',
 32: 'P31',
 33: 'P35',
 34: 'P36',
 35: 'P361',
 36: 'P3643',
 37: 'P38',
 38: 'P39',
 39: 'P3975',
 40: 'P410',
 41: 'P411',
 42: 'P414',
 43: 'P4202',
 44: 'P449',
 45: 'P463',
 46: 'P466',
 47: 'P47',
 48: 'P488',
 49: 'P512',
 50: 'P530',
 51: 'P54',
 52: 'P551',
 53: 'P6',
 54: 'P608',
 55: 'P609',
 56: 'P647',
 57: 'P69',
 58: 'P710',
 59: 'P793',
 60: 'P937',
 61: 'P97'}

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)

# Read data
data_folder = './'
train = pd.read_csv(data_folder + 'train', header=None, sep='\t')
test = pd.read_csv(data_folder + 'test', header=None, sep='\t')
valid = pd.read_csv(data_folder + 'valid', header=None, sep='\t')

In [2]:
len(train), len(test), len(valid)

(199650, 24957, 24956)

In [8]:
def split_rel_att(df):
    rel_query = df.loc[df[2].str.startswith('Q')].reset_index(drop=True)
    att_query = df.loc[~df[2].str.startswith('Q')].reset_index(drop=True)
    rel_query.columns = ['subject', 'relation', 'object', 'timestamp']
    att_query.columns = ['subject', 'attribute', 'value', 'timestamp']
    att_query['value'] = att_query['value'].astype(float)
    return rel_query, att_query

In [4]:
train_rel, train_att = split_rel_att(train)
test_rel, test_att = split_rel_att(test)
valid_rel, valid_att = split_rel_att(valid)

In [5]:
def count_attribute_occurrences(df, col='attribute'):
    return df.groupby(col).size().reset_index(name='count')

train_att_count = count_attribute_occurrences(train_att, 'attribute')
test_att_count = count_attribute_occurrences(test_att, 'attribute')
valid_att_count = count_attribute_occurrences(valid_att, 'attribute')

att_count = train_att_count.merge(test_att_count, on='attribute', how='outer', suffixes=('_train', '_test'))
att_count = att_count.merge(valid_att_count, on='attribute', how='outer')
att_count.columns = ['attribute', 'train', 'test', 'valid']
att_count = att_count.fillna(0)
att_count['train'] = att_count['train'].astype(int)
att_count['test'] = att_count['test'].astype(int)
att_count['valid'] = att_count['valid'].astype(int)
att_count = att_count.sort_values('test', ascending=False).reset_index(drop=True)
att_count

   attribute  train  test  valid
0      P1082  34424  4356   4343
1      P1087  14770  1875   1881
2      P4080    730    84     81
3      P3000    310    51     46
4      P1352    386    50     44
5      P2046    287    38     40
6      P2997    157    13     14
7      P1538     93    11     14
8      P1831    125    11     14
9      P2196     74     9     14
10     P1198     52     3      8
11     P2437     22     3      4
12     P1128      8     2      3
13     P1540     10     1      0
14     P2067      2     1      0
15     P2645     29     1      6
16     P1603     10     1      0
17     P1351      1     0      0
18     P1098      6     0      1
19     P1113      1     0      0
20     P1120      4     0      0
21     P1971      4     0      0
22     P1539     10     0      0
23     P1436      4     0      2
24     P2415      6     0      1

In [6]:
train_rel_count = count_attribute_occurrences(train_rel, 'relation')
test_rel_count = count_attribute_occurrences(test_rel, 'relation')
valid_rel_count = count_attribute_occurrences(valid_rel, 'relation')

rel_count = train_rel_count.merge(test_rel_count, on='relation', how='outer', suffixes=('_train', '_test'))
rel_count = rel_count.merge(valid_rel_count, on='relation', how='outer')
rel_count.columns = ['relation', 'train', 'test', 'valid']
rel_count = rel_count.fillna(0)
rel_count['train'] = rel_count['train'].astype(int)
rel_count['test'] = rel_count['test'].astype(int)
rel_count['valid'] = rel_count['valid'].astype(int)
rel_count = rel_count.sort_values('test', ascending=False).reset_index(drop=True)
rel_count

   relation  train  test  valid
0       P54  64477  8135   8097
1       P17  35362  4345   4451
2      P131  11295  1376   1434
3       P39   6905   874    857
4      P166   6990   866    852
5       P31   4067   500    485
6     P1411   3415   426    415
7     P1376   1913   264    246
8      P190   2125   251    255
9      P150   1633   205    203
10    P1346   1657   193    193
11     P463   1167   143    123
12      P35    615    78     74
13      P38    509    77     49
14      P27    586    67     71
15     P137    579    65     70
16     P159    545    61     72
17       P6    364    54     53
18     P108    399    39     47
19      P36    250    33     35
20    P2962    263    32     38
21     P609    272    30     29
22     P488    198    23     19
23     P102    183    20     21
24     P551    206    19     19
25    P2388    103    19      9
26      P26    141    18     14
27    P1308    126    18     13
28     P106    131    18     13
29     P276    125    17     10
30      P69    153    17     17
31     P195    156    14     13
32      P47     77    13      8
33     P466     99    13      7
34     P793    157    13     19
35    P3975     68    12     10
36     P127     91    12     11
37     P286     81    11     15
38     P410     59    11      7
39     P710     75    10     10
40      P97     78    10      6
41     P138     72     9     14
42     P176    105     9     18
43    P1001     23     6      0
44     P937     49     5      1
45     P512     32     4      4
46    P1891     32     3      4
47     P530     34     3      5
48     P361     16     2      1
49     P411      2     1      1
50    P1923     13     1      0
51    P1344      0     1      0
52     P608     10     1      1
53    P1336     26     0      0
54     P156      1     0      0
55    P1435      1     0      1
56     P119      2     0      0
57    P3643      3     0      0
58     P449      5     0      0
59    P4202      1     0      0
60     P414      2     0      0
61     P647      1     0      0

In [7]:
train.head()

         0    1         2     3
0  Q722056  P54   Q513237  1999
1  Q675764  P54   Q190526  2008
2  Q130075  P54    Q15789  2008
3  Q742692  P54  Q1108181  1982
4  Q927066  P54   Q218334  2015

In [17]:
# find those rows which the col 0 is equal to Q800
train[train[1] == 'P530']

           0     1     2     3
11492   Q145  P530  Q865  1920
26741   Q145  P530  Q865  1934
27612   Q145  P530  Q865  1937
31587   Q145  P530  Q865  1915
38803   Q145  P530  Q423  2000
43940   Q145  P530  Q865  1926
46203   Q145  P530  Q865  1931
53987   Q145  P530  Q865  1913
56634   Q145  P530  Q865  1919
59312   Q145  P530  Q865  1941
64648   Q145  P530  Q865  1950
67121   Q145  P530  Q865  1928
73100   Q145  P530  Q865  1921
81537   Q145  P530  Q865  1922
86310   Q145  P530  Q865  1945
87298   Q145  P530  Q865  1932
90736   Q145  P530  Q865  1944
91011   Q145  P530  Q865  1918
93200   Q145  P530  Q865  1923
95157   Q145  P530  Q865  1938
100646  Q145  P530  Q865  1916
118042  Q145  P530  Q183  1871
118853  Q145  P530  Q865  1925
121750  Q145  P530  Q865  1933
127745  Q145  P530  Q865  1942
128350  Q145  P530  Q865  1949
134234  Q145  P530  Q865  1946
168528  Q145  P530  Q865  1935
168969  Q145  P530  Q865  1914
172383  Q145  P530  Q865  1924
187057  Q145  P530  Q230  1992
187619  Q145  P530  Q865  1948
191777  Q145  P530  Q865  1927
196538  Q145  P530  Q865  1936

In [16]:
# find those rows which the col 1 is equal to P38 and col 2 is equal to Q4916 and col 3 equal to 2014
train[(train[1] == 'P38') & (train[2] == 'Q4916') & (train[3] == 2011)]

        0    1      2     3
453  Q191  P38  Q4916  2011

In [13]:
train[(train[1] == 'P1198') & (train[2] == '+8')]

            0      1   2     3
15988     Q31  P1198  +8  2014
17282    Q191  P1198  +8  2014
65800   Q1033  P1198  +8  2014
196613   Q800  P1198  +8  2014

In [ ]:
# a set of

In [15]:
train[(train[1] == 'P1198') & (train[3] == 2011)]

          0      1      2     3
151584  Q31  P1198  +7.14  2011

In [9]:
combined = pd.concat([train, test, valid])
len(combined)

249563

In [10]:
combined_rel, combined_att = split_rel_att(combined)
print(len(combined_rel), len(combined_att))

185012 64551

In [11]:
# a set of subject and object from the combined_rel and subject from the combined_att

combined_unique_entities = set(combined_rel['subject'].unique()).union(set(combined_rel['object'].unique())).union(set(combined_att['subject'].unique()))
len(combined_unique_entities)

18177

In [13]:
combined_unique_relations = set(combined_rel['relation'].unique())
len(combined_unique_relations)

62

In [14]:
combined_unique_attributes = set(combined_att['attribute'].unique())
len(combined_unique_attributes)

25

In [15]:
combined_unique_values = set(combined_att['value'].unique())
len(combined_unique_values)

8498

In [18]:
# unique values in the combined col 3
combined_unique_timestamps = set(combined_rel['timestamp'].unique())
len(combined_unique_timestamps)

2026